
body{
    background-color :lightgoldenrodyellow;
}

#home{
    background-color: aqua;
}
img{
    text-align: left;
}
p{
 text-align:var(img) ;
}
div{
    margin-left: 25%;
    margin-right: 25%;
}
p{
    margin-left: 25%;
}
button{
    margin-left: 90%;
    
    color:aqua;
    background-color: black;
}
.para{
    display: inline;
    vertical-align: bottom;
}
img {
    float: left;
}